$havelock-blue: #4a99f5;
$w4-red: #cc2344;
$bright-gray: #383f47;
$lima: #00be2d;
$carnation: #f85359;
$tree-poppy: #f7981c;
$blue-haze: #c5d0de;
$purple-heart: #6b47db;
$shark: #292e34;
$pastel-green: darken(#5de49d, 12%);
$aquamarine: #7bfdb9;
$white: #fff;
$black: #000;
